@charset "utf-8";

.logo {
        height: 120px;
        float: right;
}

p {
        font-weight: bold;
        max-width: 90vw;
}

body {
        color: #fff;
        background: #202020;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-top: 0.3vw;
        font: 1.0em/1.35 sans-serif;
        align-items: center;
        align-self: center;
        align-content: center;
}

a:link,
a:visited {
        color: #fcfcfc;
}

a:hover,
a:visited:hover {
        color: #98d1f1;
}

h1 {
        line-height: 1.0;
        color: #b79853;
}

.motto {
        line-height: normal;
        color: #c2c2c2;
}

h2, h3 {
        color: #0092e6;
}

h2 {
        line-height: 1.2;
}


@media print {
        body {
                max-width: none;
        }
}

code {
        background: #202020;
}

pre {

        background: #202020;
}

header {
        background-color: black;
        color: white;
        /* Set text color to white for better visibility */
        padding: 10px;
        /* Adding padding for better visual appearance */
}

footer {
        font-family: Arial, sans-serif;
        bottom: 1;
        width: 100%;
}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

/* Both table and text */
.container {
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;

}

/* text */
table {
        max-width: 800px;
        text-align: center;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        background: #333;
}

@media only screen and (max-device-width: 840) {
        table {
                max-width: none;
        }
}

/* Table heading and table data  */
th,
td {
        width: 32vw;
        border: 2px solid #000;
}